<h1>Palindrome Extravagava</h1>
<br>
<h2><%= link_to "Find the longest palindrome!", new_card_path %><h2>
<% @cards.each do |f| %>
   
    <li><%= f.palindrome(f.title) %></li>

    <br>
    <% end %>
    <br>

